@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;

    --color-primary: #f5b754;
    --color-secondary: #6B7280
}

@plugin "daisyui/theme" {
    name: "dark";
    prefersdark: true;

    --color-primary: #f5b754;
    --color-secondary: #6B7280
}

/* for swiper sliders */
.swiper-pagination-bullet-active {
    background-color: #f5b754;
}